@using System.Collections;
@using Data.Entities;
@using Business.Models

@model DishViewModel

@if(@Model.DishModel != null)
{
    <div class="container shadow p-5">
        @if(@Model.DishModel.Name != null)
                {
                    <div class="form-group d-flex justify-content-center">        
                            <h2>Edit @Model.DishModel.Name</h2>
                    </div>
                }

        <form method="post">
            <div asp-validation-summary="All"></div>      
        
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.DishModel.Name">Dish Name</label>
                    <input type="text" class="form-control mb-3" asp-for="@Model.DishModel.Name" placeholder="Enter Name">
                    <span asp-validation-for="@Model.DishModel.Name" class=" alert-danger"></span>
                </div>      
                <div class="form-group col-md-6">
                    <label asp-for="@Model.DishModel.Price">Price</label>
                    <input type="text" class="form-control mb-3" asp-for="@Model.DishModel.Price" placeholder="Enter Price">
                    <span asp-validation-for="@Model.DishModel.Price" class=" alert-danger"></span>
                </div>
            </div>

             <div class="form-row"> 
                    @if(@Model.DishModel.ImgPath != null)
                      {                               
                        <div class="form-group col-md-9 mb-3">
                            <div class="form-row">
                                <label asp-for="@Model.DishModel.DishCompositions" hidden>DishComposition</label>
                                <input type="text" class="form-control" asp-for="@Model.DishModel.DishCompositions" hidden>                                
                            </div>

                        <div class="form-row">
                            <label asp-for="@Model.dishCompositionModels" hidden>dishCompositionModels</label>
                            <input type="text" class="form-control" asp-for="@Model.dishCompositionModels" hidden>
                            
                        </div>

                        <div class="form-row">
                                <label asp-for="@Model.DishModel.ImgPath">ImgPath</label>
                                <input type="text" class="form-control" asp-for="@Model.DishModel.ImgPath">
                                <span asp-validation-for="@Model.DishModel.ImgPath" class=" alert-danger"></span>
                            </div> 
                            <div class="form-row">                   
                                <label asp-for="@Model.DishModel.Description">Description</label>
                                <textarea class="form-control mb-3" rows="3" placeholder="Enter Description">@Model.DishModel.Description</textarea>                    
                                <span asp-validation-for="@Model.DishModel.Description" class=" alert-danger"></span>
                            </div>  
                            <div class="form-group">
                                <label asp-for="@Model.DishModel.DishGroup" class="control-label"></label>
                                <select asp-for="@Model.DishModel.DishGroup" 
                                        class="form-control" 
                                        asp-items="Html.GetEnumSelectList<DishGroup>()">
                                    <option>Select type ...</option>
                                </select>
                                <span asp-validation-for="@Model.DishModel.DishGroup" class="text-danger"></span>
                            </div>
                </div>
                }
               @*
                  <select name="IngredientsIds" id="Ingredients" class ="form-control" multiple>
                      @if(@Model.dishCompositionModels != null)
                      {
                        @foreach (var dishcomp in Model.IngredientsIds)
                        {
                            <option value = "@dishcomp">@dishcomp</option>
                        }
                      }
                  </select>
                  <br><br>*@
                  
                
                @if(@Model.DishModel.ImgPath != null)
                {
                    <div class="form-group col-md-3 mb-3">
                        <div class="text-center">
                              <img src="@Model.DishModel.ImgPath.ToString()" class="img-fluid mb-3" alt="@Model.DishModel.Name">
                        </div>
                    </div>
                }
            </div>

            <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-primary p-2">
                    <i class="bi bi-file-plus-fill"></i>Update
                </button>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <a asp-controller="Dish" asp-action="Details" class="btn btn-lg btn-warning p-2">Back To List</a>
            </div>
        </form>

    </div>
}