@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Restaurant.Models.EditUserViewModel;

@{
}
<link rel="stylesheet" href="~/css/register.css">      
    <!--<div class="py-5 text-center">
        <h1>Edit User</h1>
    </div>-->

@if (@Model != null)
{
<div class="wrapper fadeInDown">
    <div id="formContent">
                <h2 class="inactive">Edit User</h2>
            @using (Html.BeginForm("OnPost", "User"))
            {
                @Html.HiddenFor(h => @Model.User.Id);
                <br/>
                        <label asp-for="@Model.User.FirstName" class="form-label"></label>
                        <input asp-for="@Model.User.FirstName"  class="fadeIn second" autocomplete="username" aria-required="true" placeholder="First Name"/>
                        <br/><span asp-validation-for="@Model.User.FirstName" class="text-danger">
                        </span>
                    <br/>
                        <label asp-for="@Model.User.LastName" class="form-label"></label>
                        <input asp-for="@Model.User.LastName"  class="fadeIn second" autocomplete="username" aria-required="true" placeholder="Last Name"/>
                        <br/><span asp-validation-for="@Model.User.LastName" class="text-danger">
                        </span>
                    <br/>
                            <label asp-for="@Model.User.Email" class="form-label"></label><br/>
                            <input asp-for="@Model.User.Email"  class="fadeIn second" autocomplete="username" aria-required="true" placeholder="Email"/>
                            <br/><span asp-validation-for="@Model.User.Email" class="text-danger">
                            </span>
                <hr class="my-4">

                <h4 class="mb-3">Roles</h4>

                <div class="my-3">
                    
                    @for (int i = 0; i < @Model.Roles.Count(); i++)
                    {
                        <div class="form-check">
                            @Html.CheckBoxFor(c => @Model.Roles[i].Selected)
                            @Html.HiddenFor(h => @Model.Roles[i].Value)
                            
                            @Html.LabelFor(l => @Model.Roles[i].Selected, @Model.Roles[i].Text, new {@class="form-check-label"})
                            @Html.HiddenFor(h => @Model.Roles[i].Text)
                        </div>
                    }
                </div>

                <hr class="my-4">

                <input class="fadeIn fourth" type="submit" value="Save"/>
            }
        </div>
    </div>
    }
    else
    {
        <div>
            <h4 class="text-center">Oops, user was not found :'(</h4>
        </div>
    }


