@using System.Collections;
@using Data.Entities;
@using Business.Models;
@using Business.Interfaces;
@using System.Linq;



@model IEnumerable<DishCompositionModel>
    
@inject IIngredientService ingredientService
@inject IDishService dishService

@{
    var ingredients = (await ingredientService.GetAllAsync()).ToList().Select(ingr => new
    {
        Name = ingr.Name,
        Id = ingr.Id
    }); 
        
    var dishes = (await dishService.GetAllAsync()).ToList().Select(o => o.Name);

        ViewData["Title"] = "Dish Composition";



}

<link rel="stylesheet" href="~/css/ingredient.css">      
<h1 align="center">Dish Composition</h1>

<div class="container shadow p-5">
<div class="wrapper">
    <div id="formContent">
        <form asp-controller="DishComposition" asp-action="Create">
        <input type="submit" class="fadeIn" value="Add Dish Composition" />
</form>
</div>
</div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Dish Name</th>
                <th scope="col">Ingredient Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td width="3%">
                        @item.Id
                    </td>
                    <td width="20%">
                        @dishService.GetByIdAsync(item.DishId).Result.Name
                    </td>  
                    <td width="20%">
                        @ingredientService.GetByIdAsync(item.IngredientId).Result.Name
                    </td> 
                    <td width="20%">
                        @item.Amount
                    </td>   
                    <td width="15%">
                        @ingredientService.GetByIdAsync(item.IngredientId).Result.IngredientMeasurement
                    </td>  
                    <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="DishComposition" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;                            
                            @Html.ActionLink("Delete",
                                "Delete", new { id = item.Id },
                                    new { onclick = "return confirm('Do you really want to delete the tag " + @item.Id + "?')" , @class ="btn btn-sm btn-danger"})
                        </div>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
