@model List<Data.Entities.Ingredient>

@{
    ViewData["Title"] = "Stock";
}


<h1>Ingredients</h1>
<table class=table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ingredient group</th>
            <th>Import Date</th>
            <th>Expiration Date</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var ingred in Model)
        {
            <tr>
                <td>@ingred.Id</td>
                <td>@ingred.Name</td>
                <td>@ingred.IngredientGroup</td>
                <td>@ingred.ImportDate</td>
                <td>@ingred.ExpirationDate</td>
                <td>@ingred.Price</td>
                <td>@ingred.Amount</td>
            </tr>
        }
    </tbody>
</table>